<% include ../partials/header %>
<h1 class="section-title"> </h1>
<div class="section-body">


	<div>	<label> <strong>Email</strong>
					<p><%= contact.email %> </p>
			</label>
			<label><strong>Name</strong>
				<p><%= contact.name %> </p>
			</label>
			<label><strong>Text</strong>
			<p><%= contact.text %> </p>
			</label>



	</div>




</div>







<% include ../partials/footer %>