<h2>Register admin account </h2>



<form action ="/admin/register" method = "post"> 
<input type="text" name="username" placeholder ="username here">
<input type="password" name="password" placeholder ="password">
<button>Submit </button>
    
</form>