











<script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script src="/main.js"></script>
<script type="text/javascript">
	
 var bar = $("#bars");

 bar.on("click", function(){
 	var y = $(".nav-ul-unactive");
 	var nav = $("nav")
 	nav.toggleClass("nav-active")
 	y.toggleClass("active-ul")
 })


</script>

<footer>
<p> &copy copyright Zarko	 </p>
</footer>
</body>
</html>