













<script src="/main.js">
	

</script>
<script type="text/javascript" src="jquery.fittext.js"></script>

<script>
	$("#content-quote").fitText()
</script>
<footer>
<p> &copy copyright Zarko	 </p>
</footer>
</body>
</html>