<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

	<link rel="stylesheet" type="text/css" href="assets/admin.css">
	<link rel="stylesheet" type="text/css" href="assets/main.css">
	<link rel="stylesheet" type="text/css" href="assets/blog.css">
<title>Portfolio - Zarko </title>
</head>
<body>
<header>
	<nav>
		<div class="nav-center">
		<div class="avatar-section">
			<img class="avatar" src="/oca.jpg" alt="avatar">
		</div>
		<div id="name-surname">
			<p>Zarko Timarac </p>
		</div>
			<ul> 
				<li><a class="nav-content" href="/about">About me </a></li>
				<li><a class="nav-content" href="/blog">Blogs </a></li>
				<li><a class="nav-content" href="#">My work </a></li>
				<li><a class="nav-content" id="contact-border" href="/contact">Contact</a> </li>

			</ul>

		</div>

	</nav>

</header>
<script type="text/javascript"src="../quotegenerator/main.js"></script>
<div class="generator">
	

		
<div id="content-quote">Ovo je tekst </div>
<div id="content-author">Author quota </div>


</div>
