<!DOCTYPE html>
<html>
<head>
	

	<link rel="stylesheet" type="text/css" href="/assets/admin.css">
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/blog.css">
	<link rel="stylesheet" type="text/css" href="/assets/comment.css">
<title>Portfolio - Zarko </title>
</head>
<body>
<header>
	<nav class="nav-unactive">
		<div id="bars">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div class="nav-center">
		<div class="avatar-section">
			<img class="avatar" src="/oca.jpg" alt="avatar">
		</div>
		<div id="name-surname">
			<p>Zarko Timarac </p>
		</div>
			<ul class=" nav-ul-unactive"> 
				<li><a class="nav-content" href="/about">About me </a></li>
				<li><a class="nav-content" href="/blog">Blogs </a></li>
				<li><a class="nav-content" href="#">My work </a></li>
				<li><a class="nav-content" id="contact-border" href="/contact">Contact</a> </li>

			</ul>

		</div>

	</nav>

</header>
